ion-header::after {
    background-image: none;
}

ion-content {

    ion-card {
        text-align: center;
        border-radius: 0 0 35px 35px;
        box-shadow: unset;
        margin-bottom: 25px;

        img {
            position: relative;
            display: block;
            width: 160px;
            height: 160px;
            margin: 0 auto 25px auto;
            border-radius: 100%;
        }
    }

    ion-button {
        position: fixed;
        width: 100%;
        bottom: 0;
    }

    h2 {
        padding: 10px 0 10px 15px;
        color: #3880ff;
        font-size: 18px;
        font-weight: 600;
        text-transform: uppercase;
    }

    ion-input {
        font-size: 18px;
    }
}