<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{ mode }} CONTACT</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="primary" class="ion-no-margin">
    <ion-card-content>
      <img [src]="avatar" />
    </ion-card-content>
  </ion-card>
  <h2>Detail Contact</h2>
  <ion-item lines="full">
    <ion-label position="floating">Name</ion-label>
    <ion-input type="text" [(ngModel)]="contact.name"></ion-input>
  </ion-item>
  <ion-item lines="full">
    <ion-label position="floating">Phone</ion-label>
    <ion-input type="text" [(ngModel)]="contact.phone"></ion-input>
  </ion-item>
  <ion-item lines="full">
    <ion-label position="floating">Email</ion-label>
    <ion-input type="text" [(ngModel)]="contact.email"></ion-input>
  </ion-item>
  <ion-button (click)="onSubmit()" expand="full" color="primary">
    <ion-icon slot="start" name="add"></ion-icon>
    SAVE
  </ion-button>
</ion-content>