<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="call"></ion-icon>
      <ion-label>CONTACTS</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="heart"></ion-icon>
      <ion-label>FAVORITE</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="person"></ion-icon>
      <ion-label>ACCOUNT</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>