<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      FAVOURITE
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list *ngIf="!contacts">
    <ion-item lines="full" *ngFor="let m of [1,2,3,4,5,6,7,8]">
      <ion-avatar slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-avatar>
      <ion-label>
        <h2>
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
        </h2>
        <p>
          <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="contacts">
    <ion-item *ngFor="let c of contacts" lines="full" class="ripple-parent">
      <ion-avatar slot="start" [routerLink]="['/fcontact',c.id]">
        <img [src]="img" />
      </ion-avatar>
      <ion-label [routerLink]="['/fcontact',c.id]">
        <h2>{{ c.name }}</h2>
        <p>{{ c.phone }}</p>
      </ion-label>
      <ion-icon (click)="setFav(c.id,c.fav)" slot="end" [name]="c.fav == 1 ? 'heart' : 'heart-outline'"
        [color]="c.fav == 1 ? 'danger' : ''">
      </ion-icon>
      <ion-ripple-effect></ion-ripple-effect>
    </ion-item>
  </ion-list>
</ion-content>