<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      CONTACTS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list *ngIf="!contacts">
    <ion-item lines="full" *ngFor="let m of [1,2,3,4,5,6,7,8]">
      <ion-avatar slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-avatar>
      <ion-label>
        <h2>
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
        </h2>
        <p>
          <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="contacts">
    <ion-item-sliding *ngFor="let c of contacts">
      <ion-item lines="full" class="ripple-parent">
        <ion-avatar slot="start" [routerLink]="['/fcontact',c.id]">
          <img [src]="img" />
        </ion-avatar>
        <ion-label [routerLink]="['/fcontact',c.id]">
          <h2>{{ c.name }}</h2>
          <p>{{ c.phone }}</p>
        </ion-label>
        <ion-icon slot="end" [name]="c.fav == 1 ? 'heart' : 'heart-outline'" [color]="c.fav == 1 ? 'danger' : ''">
        </ion-icon>
        <ion-ripple-effect></ion-ripple-effect>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="setFav(c.id,c.fav)" color="danger">
          <ion-icon slot="start" name="heart" color="light" size="large"></ion-icon>
        </ion-item-option>
        <ion-item-option color="primary" (click)="delContact(c.id)" color="warning">
          <ion-icon slot="start" name="trash" color="light" size="large"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/fcontact','']" size="small">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>